:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
li {
    list-style-type: none;
}

a {
    cursor: pointer;

    color: inherit;
    text-decoration: inherit;
}

.stack {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;

    > * {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    @for $i from 0 to 100 {
        > :nth-child(#{$i + 1}) {
            top: $i * -100%;
        }
    }
}

// sizing
.w-screen {
    width: 100vw;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

// input

input.disable-spin-button {
    appearance: textfield;
    // -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        // -webkit-appearance: none;
        margin: 0px;
    }
}

article {
    line-height: 2em;
    h2,
    h3,
    h4,
    h5 {
        display: block;

        width: 100%;
        height: fit-content;
        padding: 20px 0px 10px 0px;
    }
    a {
        color: rgb(var(--v-theme-primary));
        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        padding-left: 10px;
    }
}

.v-sheet.v-color-picker {
    overflow-x: hidden !important;
}
